@model JobApplicationCreateModel
@using JobApplicationTracker.Core.Enums
@{
    ViewData["Title"] = "Add job application";
}

<h2>
    Add a new application.
</h2>

<form asp-action="Create" asp-controller="JobApplication" method="post">
    <div asp-validation-summary="ModelOnly" class="error-message"></div>

    <label asp-for="CompanyName"></label>
    <br>
    <input asp-for="CompanyName"/>
    <br>
    <span asp-validation-for="CompanyName" class="error-message"></span>
    <br>

    <label asp-for="Position"></label>
    <br>
    <input asp-for="Position"/>
    <br>
    <span asp-validation-for="Position" class="error-message"></span>
    <br>

    <label asp-for="AppliedAt"></label>
    <br>
    <input asp-for="AppliedAt"/>
    <br>
    <span asp-validation-for="AppliedAt" class="error-message"></span>
    <br>

    <label asp-for="Status"></label>
    <br>
    <select asp-for="Status" asp-items="Html.GetEnumSelectList<ApplicationStatus>()"></select>
    <br>
    <span asp-validation-for="Status" class="error-message"></span>
    <br>

    <label asp-for="Note"></label>
    <br>
    <textarea asp-for="Note"></textarea>
    <br>
    <span asp-validation-for="Note" class="error-message"></span>
    <br>
    <input type="submit" name="Add" value="Add" />
</form>
