@model JobApplicationListViewModel

@{
    ViewData["Title"] = "Application list";
}

<div class="application-div">
    <table class="application-list-table">
        <tr>
            <th>Company name</th>
            <th>Position</th>
            <th>Status</th>
            <th>Apply Date</th>
            <th>Notes/Updates</th>
        </tr>
        <tr>
            <td>Google</td>
            <td>Jr. Software Engineer</td>
            <td>Applied</td>
            <td>17/02/2024</td>
            <td>No updates</td>
        </tr>
        <tr>
            <td>Microsoft</td>
            <td>Backend Developer</td>
            <td>Applied</td>
            <td>02/03/2024</td>
            <td>No updates</td>
        </tr>
    </table>
</div>
