@{
    ViewData["title"] = "Welcome to JAT";
}

@if (TempData.ContainsKey("SuccessMessage") && TempData["SuccessMessage"] != null)
{
    <div class="success-flush-message">
        @TempData["SuccessMessage"]
    </div>
}

<div class="welcome-div">
    <h1>
        Welcome to Job Application Tracker!
    </h1>
    <h3>
        <a asp-action="Login" asp-controller="Auth" class="styled-link">Join</a> and track your application list easily.
    </h3>
</div>
